body {
    background: #30d5c8;
    text-align: center;
}

h1 {
    margin-top: 5rem;
    font-size: 3.125rem;
    font-family: lucida handwriting, cursive;
    color: black;
}

button {
    padding: 0.938rem 1.25rem;
    font-size: 1.25rem;
    font-family: cursive;
    border-radius: 1.25rem;
    background: #ff7f50;
}
